@charset "utf-8";

.wiki .octicon {
  display: inline-block !important;
  fill: currentColor !important;
  vertical-align: text-bottom !important;
}

.wiki .anchor {
  float: left !important;
  line-height: 1 !important;
  margin-left: -20px !important;
  padding-right: 4px !important;
}

.wiki .anchor:focus {
  outline: none !important;
}

.wiki h1 .octicon-link,
.wiki h2 .octicon-link,
.wiki h3 .octicon-link,
.wiki h4 .octicon-link,
.wiki h5 .octicon-link,
.wiki h6 .octicon-link {
  color: #1b1f23 !important;
  vertical-align: middle !important;
  visibility: hidden !important;
}

.wiki h1:hover .anchor,
.wiki h2:hover .anchor,
.wiki h3:hover .anchor,
.wiki h4:hover .anchor,
.wiki h5:hover .anchor,
.wiki h6:hover .anchor {
  text-decoration: none !important;
}

.wiki h1:hover .anchor .octicon-link,
.wiki h2:hover .anchor .octicon-link,
.wiki h3:hover .anchor .octicon-link,
.wiki h4:hover .anchor .octicon-link,
.wiki h5:hover .anchor .octicon-link,
.wiki h6:hover .anchor .octicon-link {
  visibility: visible !important;
}

.wiki h1:hover .anchor .octicon-link:before,
.wiki h2:hover .anchor .octicon-link:before,
.wiki h3:hover .anchor .octicon-link:before,
.wiki h4:hover .anchor .octicon-link:before,
.wiki h5:hover .anchor .octicon-link:before,
.wiki h6:hover .anchor .octicon-link:before {
  width: 16px !important;
  height: 16px !important;
  content: ' ' !important;
  display: inline-block !important;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' width='16' height='16' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z'%3E%3C/path%3E%3C/svg%3E") !important;
}.wiki {
  -ms-text-size-adjust: 100% !important;
  -webkit-text-size-adjust: 100% !important;
  line-height: 1.5 !important;
  color: #24292e !important;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji !important;
  font-size: 16px !important;
  line-height: 1.5 !important;
  word-wrap: break-word !important;
}

.wiki details {
  display: block !important;
}

.wiki summary {
  display: list-item !important;
}

.wiki a {
  background-color: initial !important;
}

.wiki a:active,
.wiki a:hover {
  outline-width: 0 !important;
}

.wiki strong {
  font-weight: inherit !important;
  font-weight: bolder !important;
}

.wiki h1 {
  font-size: 2em !important;
  margin: .67em 0 !important;
}

.wiki img {
  border-style: none !important;
}

.wiki code,
.wiki kbd,
.wiki pre {
  font-family: monospace,monospace !important;
  font-size: 1em !important;
}

.wiki hr {
  box-sizing: initial !important;
  height: 0 !important;
  overflow: visible !important;
}

.wiki input {
  font: inherit !important;
  margin: 0 !important;
}

.wiki input {
  overflow: visible !important;
}

.wiki [type=checkbox] {
  box-sizing: border-box !important;
  padding: 0 !important;
}

.wiki * {
  box-sizing: border-box !important;
}

.wiki input {
  font-family: inherit !important;
  font-size: inherit !important;
  line-height: inherit !important;
}

.wiki a {
  color: #0366d6 !important;
  text-decoration: none !important;
}

.wiki a:hover {
  text-decoration: underline !important;
}

.wiki strong {
  font-weight: 600 !important;
}

.wiki hr {
  height: 0 !important;
  margin: 15px 0 !important;
  overflow: hidden !important;
  background: transparent !important;
  border: 0 !important;
  border-bottom: 1px solid #dfe2e5 !important;
}

.wiki hr:after,
.wiki hr:before {
  display: table !important;
  content: "" !important;
}

.wiki hr:after {
  clear: both !important;
}

.wiki table {
  border-spacing: 0 !important;
  border-collapse: collapse !important;
}

.wiki td,
.wiki th {
  padding: 0 !important;
}

.wiki details summary {
  cursor: pointer !important;
}

.wiki kbd {
  display: inline-block !important;
  padding: 3px 5px !important;
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace !important;
  line-height: 10px !important;
  color: #444d56 !important;
  vertical-align: middle !important;
  background-color: #fafbfc !important;
  border: 1px solid #d1d5da !important;
  border-radius: 3px !important;
  box-shadow: inset 0 -1px 0 #d1d5da !important;
}

.wiki h1,
.wiki h2,
.wiki h3,
.wiki h4,
.wiki h5,
.wiki h6 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.wiki h1 {
  font-size: 32px !important;
}

.wiki h1,
.wiki h2 {
  font-weight: 600 !important;
}

.wiki h2 {
  font-size: 24px !important;
}

.wiki h3 {
  font-size: 20px !important;
}

.wiki h3,
.wiki h4 {
  font-weight: 600 !important;
}

.wiki h4 {
  font-size: 16px !important;
}

.wiki h5 {
  font-size: 14px !important;
}

.wiki h5,
.wiki h6 {
  font-weight: 600 !important;
}

.wiki h6 {
  font-size: 12px !important;
}

.wiki p {
  margin-top: 0 !important;
  margin-bottom: 10px !important;
}

.wiki blockquote {
  margin: 0 !important;
}

.wiki ol,
.wiki ul {
  padding-left: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.wiki ol ol,
.wiki ul ol {
  list-style-type: lower-roman !important;
}

.wiki ol ol ol,
.wiki ol ul ol,
.wiki ul ol ol,
.wiki ul ul ol {
  list-style-type: lower-alpha !important;
}

.wiki dd {
  margin-left: 0 !important;
}

.wiki code,
.wiki pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace !important;
  font-size: 12px !important;
}

.wiki pre {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.wiki input::-webkit-inner-spin-button,
.wiki input::-webkit-outer-spin-button {
  margin: 0 !important;
  -webkit-appearance: none !important;
  appearance: none !important;
}

.wiki :checked+.radio-label {
  position: relative !important;
  z-index: 1 !important;
  border-color: #0366d6;
}

.wiki .border {
  border: 1px solid #e1e4e8!important;
}

.wiki .border-0 {
  border: 0!important;
}

.wiki .border-bottom {
  border-bottom: 1px solid #e1e4e8!important;
}

.wiki .rounded-1 {
  border-radius: 3px!important;
}

.wiki .bg-white {
  background-color: #fff!important;
}

.wiki .bg-gray-light {
  background-color: #fafbfc!important;
}

.wiki .text-gray-light {
  color: #6a737d!important;
}

.wiki .mb-0 {
  margin-bottom: 0!important;
}

.wiki .my-2 {
  margin-top: 8px!important;
  margin-bottom: 8px!important;
}

.wiki .pl-0 {
  padding-left: 0!important;
}

.wiki .py-0 {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.wiki .pl-1 {
  padding-left: 4px!important;
}

.wiki .pl-2 {
  padding-left: 8px!important;
}

.wiki .py-2 {
  padding-top: 8px!important;
  padding-bottom: 8px!important;
}

.wiki .pl-3,
.wiki .px-3 {
  padding-left: 16px!important;
}

.wiki .px-3 {
  padding-right: 16px!important;
}

.wiki .pl-4 {
  padding-left: 24px!important;
}

.wiki .pl-5 {
  padding-left: 32px!important;
}

.wiki .pl-6 {
  padding-left: 40px!important;
}

.wiki .f6 {
  font-size: 12px!important;
}

.wiki .lh-condensed {
  line-height: 1.25!important;
}

.wiki .text-bold {
  font-weight: 600!important;
}

.wiki .pl-c {
  color: #6a737d !important;
}

.wiki .pl-c1,
.wiki .pl-s .pl-v {
  color: #005cc5 !important;
}

.wiki .pl-e,
.wiki .pl-en {
  color: #6f42c1 !important;
}

.wiki .pl-s .pl-s1,
.wiki .pl-smi {
  color: #24292e !important;
}

.wiki .pl-ent {
  color: #22863a !important;
}

.wiki .pl-k {
  color: #d73a49 !important;
}

.wiki .pl-pds,
.wiki .pl-s,
.wiki .pl-s .pl-pse .pl-s1,
.wiki .pl-sr,
.wiki .pl-sr .pl-cce,
.wiki .pl-sr .pl-sra,
.wiki .pl-sr .pl-sre {
  color: #032f62 !important;
}

.wiki .pl-smw,
.wiki .pl-v {
  color: #e36209 !important;
}

.wiki .pl-bu {
  color: #b31d28 !important;
}

.wiki .pl-ii {
  color: #fafbfc !important;
  background-color: #b31d28 !important;
}

.wiki .pl-c2 {
  color: #fafbfc !important;
  background-color: #d73a49 !important;
}

.wiki .pl-c2:before {
  content: "^M" !important;
}

.wiki .pl-sr .pl-cce {
  font-weight: 700 !important;
  color: #22863a !important;
}

.wiki .pl-ml {
  color: #735c0f !important;
}

.wiki .pl-mh,
.wiki .pl-mh .pl-en,
.wiki .pl-ms {
  font-weight: 700 !important;
  color: #005cc5 !important;
}

.wiki .pl-mi {
  font-style: italic !important;
  color: #24292e !important;
}

.wiki .pl-mb {
  font-weight: 700 !important;
  color: #24292e !important;
}

.wiki .pl-md {
  color: #b31d28 !important;
  background-color: #ffeef0 !important;
}

.wiki .pl-mi1 {
  color: #22863a !important;
  background-color: #f0fff4 !important;
}

.wiki .pl-mc {
  color: #e36209 !important;
  background-color: #ffebda !important;
}

.wiki .pl-mi2 {
  color: #f6f8fa !important;
  background-color: #005cc5 !important;
}

.wiki .pl-mdr {
  font-weight: 700 !important;
  color: #6f42c1 !important;
}

.wiki .pl-ba {
  color: #586069 !important;
}

.wiki .pl-sg {
  color: #959da5 !important;
}

.wiki .pl-corl {
  text-decoration: underline !important;
  color: #032f62 !important;
}

.wiki .mb-0 {
  margin-bottom: 0!important;
}

.wiki .my-2 {
  margin-bottom: 8px!important;
}

.wiki .my-2 {
  margin-top: 8px!important;
}

.wiki .pl-0 {
  padding-left: 0!important;
}

.wiki .py-0 {
  padding-top: 0!important;
  padding-bottom: 0!important;
}

.wiki .pl-1 {
  padding-left: 4px!important;
}

.wiki .pl-2 {
  padding-left: 8px!important;
}

.wiki .py-2 {
  padding-top: 8px!important;
  padding-bottom: 8px!important;
}

.wiki .pl-3 {
  padding-left: 16px!important;
}

.wiki .pl-4 {
  padding-left: 24px!important;
}

.wiki .pl-5 {
  padding-left: 32px!important;
}

.wiki .pl-6 {
  padding-left: 40px!important;
}

.wiki .pl-7 {
  padding-left: 48px!important;
}

.wiki .pl-8 {
  padding-left: 64px!important;
}

.wiki .pl-9 {
  padding-left: 80px!important;
}

.wiki .pl-10 {
  padding-left: 96px!important;
}

.wiki .pl-11 {
  padding-left: 112px!important;
}

.wiki .pl-12 {
  padding-left: 128px!important;
}

.wiki hr {
  border-bottom-color: #eee !important;
}

.wiki kbd {
  display: inline-block !important;
  padding: 3px 5px !important;
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace !important;
  line-height: 10px !important;
  color: #444d56 !important;
  vertical-align: middle !important;
  background-color: #fafbfc !important;
  border: 1px solid #d1d5da !important;
  border-radius: 3px !important;
  box-shadow: inset 0 -1px 0 #d1d5da !important;
}

.wiki:after,
.wiki:before {
  display: table !important;
  content: "" !important;
}

.wiki:after {
  clear: both !important;
}

.wiki>:first-child {
  margin-top: 0!important;
}

.wiki>:last-child {
  margin-bottom: 0!important;
}

.wiki a:not([href]) {
  color: inherit !important;
  text-decoration: none !important;
}

.wiki blockquote,
.wiki details,
.wiki dl,
.wiki ol,
.wiki p,
.wiki pre,
.wiki table,
.wiki ul {
  margin-top: 0 !important;
  margin-bottom: 16px !important;
}

.wiki hr {
  height: .25em !important;
  padding: 0 !important;
  margin: 24px 0 !important;
  background-color: #e1e4e8 !important;
  border: 0 !important;
}

.wiki blockquote {
  padding: 0 1em !important;
  color: #6a737d !important;
  border-left: .25em solid #dfe2e5 !important;
}

.wiki blockquote>:first-child {
  margin-top: 0 !important;
}

.wiki blockquote>:last-child {
  margin-bottom: 0 !important;
}

.wiki h1,
.wiki h2,
.wiki h3,
.wiki h4,
.wiki h5,
.wiki h6 {
  margin-top: 24px !important;
  margin-bottom: 16px !important;
  font-weight: 600 !important;
  line-height: 1.25 !important;
}

.wiki h1 {
  font-size: 2em !important;
}

.wiki h1,
.wiki h2 {
  padding-bottom: .3em !important;
  border-bottom: 1px solid #eaecef !important;
  margin-bottom: 20px !important;
}

.wiki h2 {
  font-size: 1.5em !important;
}

.wiki h3 {
  font-size: 1.25em !important;
}

.wiki h4 {
  font-size: 1em !important;
}

.wiki h5 {
  font-size: .875em !important;
}

.wiki h6 {
  font-size: .85em !important;
  color: #6a737d !important;
}

.wiki ol,
.wiki ul {
  padding-left: 2em !important;
}

.wiki ol ol,
.wiki ol ul,
.wiki ul ol,
.wiki ul ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.wiki li {
  word-wrap: break-all !important;
}

.wiki li>p {
  margin-top: 16px !important;
}

.wiki li+li {
  margin-top: .25em !important;
}

.wiki dl {
  padding: 0 !important;
}

.wiki dl dt {
  padding: 0 !important;
  margin-top: 16px !important;
  font-size: 1em !important;
  font-style: italic !important;
  font-weight: 600 !important;
}

.wiki dl dd {
  padding: 0 16px !important;
  margin-bottom: 16px !important;
}

.wiki table {
  display: block !important;
  width: 100% !important;
  overflow: auto !important;
}

.wiki table th {
  font-weight: 600 !important;
}

.wiki table td,
.wiki table th {
  padding: 6px 13px !important;
  border: 1px solid #dfe2e5 !important;
}

.wiki table tr {
  background-color: #fff !important;
  border-top: 1px solid #c6cbd1 !important;
}

.wiki table tr:nth-child(2n) {
  background-color: #f6f8fa !important;
}

.wiki img {
  max-width: 100% !important;
  box-sizing: initial !important;
  background-color: #fff !important;
}

.wiki img[align=right] {
  padding-left: 20px !important;
}

.wiki img[align=left] {
  padding-right: 20px !important;
}

.wiki code {
  padding: .2em .4em !important;
  margin: 0 !important;
  font-size: 85% !important;
  background-color: rgba(27,31,35,.05) !important;
  border-radius: 3px !important;
}

.wiki pre {
  word-wrap: normal !important;
}

.wiki pre>code {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 100% !important;
  word-break: normal !important;
  white-space: pre !important;
  background: transparent !important;
  border: 0 !important;
}

.wiki .highlight {
  margin-bottom: 16px !important;
}

.wiki .highlight pre {
  margin-bottom: 0 !important;
  word-break: normal !important;
}

.wiki .highlight pre,
.wiki pre {
  padding: 16px !important;
  overflow: auto !important;
  font-size: 85% !important;
  line-height: 1.45 !important;
  background-color: #f6f8fa !important;
  border-radius: 3px !important;
}

.wiki pre code {
  display: inline !important;
  max-width: auto !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: visible !important;
  line-height: inherit !important;
  word-wrap: normal !important;
  background-color: initial !important;
  border: 0 !important;
}

.wiki .commit-tease-sha {
  display: inline-block !important;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace !important;
  font-size: 90% !important;
  color: #444d56 !important;
}

.wiki .full-commit .btn-outline:not(:disabled):hover {
  color: #005cc5 !important;
  border-color: #005cc5 !important;
}

.wiki .blob-wrapper {
  overflow-x: auto !important;
  overflow-y: hidden !important;
}

.wiki .blob-wrapper-embedded {
  max-height: 240px !important;
  overflow-y: auto !important;
}

.wiki .blob-num {
  width: 1% !important;
  min-width: 50px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace !important;
  font-size: 12px !important;
  line-height: 20px !important;
  color: rgba(27,31,35,.3) !important;
  text-align: right !important;
  white-space: nowrap !important;
  vertical-align: top !important;
  cursor: pointer !important;
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.wiki .blob-num:hover {
  color: rgba(27,31,35,.6) !important;
}

.wiki .blob-num:before {
  content: attr(data-line-number) !important;
}

.wiki .blob-code {
  position: relative !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
  line-height: 20px !important;
  vertical-align: top !important;
}

.wiki .blob-code-inner {
  overflow: visible !important;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace !important;
  font-size: 12px !important;
  color: #24292e !important;
  word-wrap: normal !important;
  white-space: pre !important;
}

.wiki .pl-token.active,
.wiki .pl-token:hover {
  cursor: pointer !important;
  background: #ffea7f !important;
}

.wiki .tab-size[data-tab-size="1"] {
  -moz-tab-size: 1 !important;
  tab-size: 1 !important;
}

.wiki .tab-size[data-tab-size="2"] {
  -moz-tab-size: 2 !important;
  tab-size: 2 !important;
}

.wiki .tab-size[data-tab-size="3"] {
  -moz-tab-size: 3 !important;
  tab-size: 3 !important;
}

.wiki .tab-size[data-tab-size="4"] {
  -moz-tab-size: 4 !important;
  tab-size: 4 !important;
}

.wiki .tab-size[data-tab-size="5"] {
  -moz-tab-size: 5 !important;
  tab-size: 5 !important;
}

.wiki .tab-size[data-tab-size="6"] {
  -moz-tab-size: 6 !important;
  tab-size: 6 !important;
}

.wiki .tab-size[data-tab-size="7"] {
  -moz-tab-size: 7 !important;
  tab-size: 7 !important;
}

.wiki .tab-size[data-tab-size="8"] {
  -moz-tab-size: 8 !important;
  tab-size: 8 !important;
}

.wiki .tab-size[data-tab-size="9"] {
  -moz-tab-size: 9 !important;
  tab-size: 9 !important;
}

.wiki .tab-size[data-tab-size="10"] {
  -moz-tab-size: 10 !important;
  tab-size: 10 !important;
}

.wiki .tab-size[data-tab-size="11"] {
  -moz-tab-size: 11 !important;
  tab-size: 11 !important;
}

.wiki .tab-size[data-tab-size="12"] {
  -moz-tab-size: 12 !important;
  tab-size: 12 !important;
}

.wiki .task-list-item {
  list-style-type: none !important;
}

.wiki .task-list-item+.task-list-item {
  margin-top: 3px !important;
}

.wiki .task-list-item input {
  margin: 0 .2em .25em -1.6em !important;
  vertical-align: middle !important;
}

